// compile: style.css
// some constants

@font-face
    font-family: "Roboto"
    src: url("font/Roboto-Regular.ttf")


// $bck: #aaa
$bck: #0f729d
$txt: #eee
$darktxt: #333
$yellow: #edc122
$green: #20d568

*
  padding: 0
  margin: 0
  box-sizing: border-box


body
  background-color: $bck
  color: $txt
  font-family: "Roboto" , sans-serif
  font-size: 14px

.modal-box
  position: absolute
  z-index: 10
  left: 50%
  top: 50%
  width: 350px
  min-height: 250px
  transform: translate(-50%, -50%)
  background-color:  darken($bck, 10)
  padding: 20px
  border-radius: 15px
  box-shadow: 0 0 15px black
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: flex-start

  .title
    width: 100%
    display: flex
    justify-content: center
    padding: 20px

  .content
    width: 100%
    position: relative
    flex-grow: 1
    display: flex
    flex-direction: column
    align-items: flex-end
    margin-bottom: 20px

    .input
      display: block
      position: relative
      width: auto
      font-size: 1.3em
      margin-bottom: 5px

      input[type='text']
        border: none
        padding: 1em 1em
        border-radius: 0.2em


  .buttons
    position: relative
    width: 100%
    display: flex
    justify-content: center

    button
      margin: 5px
      padding: 0.5em 1em
      border: none
      border-radius: 5px
      font-size: 1.3em
      color: $txt
      background-color: $yellow
      transition: all 250ms ease-in-out
      &:hover
        background-color: $green




navigation
  display: block
  position: relative
  left: 0
  top: 0
  min-width: 100%
  overflow-x: auto
  overflow-y: hidden

  border-bottom: 3px solid darken($bck, 10)
  background-color: darken($bck, 10)
  box-shadow: 0 0 15px black
  max-height: 175px

.is-hidden
  display: none

.tabs-buttons-bar
  position: relative
  display: inline-block
  width: auto
  min-width: 100%
  left: 0
  top: 0

  // right: 0
  //overflow: visible
  // height: 35px
  background-color: darken($bck, 15)

.tabs-buttons
  display: flex
  flex-direction: row

.tab-button
  display: inline-block
  padding: 1em 0.5em
  min-width: 75px
  text-align: center
  border-right: 1px solid darken($bck, 10)
  cursor: pointer
  transition: all 250ms ease-in-out
  &:hover,
  &.is-active
    background-color: darken($bck, 20)


.tabs-bar
  position: relative
  display: inline-block
  left: 0
  min-width: 100%
  width: auto
  min-height: 125px
  height: auto
  background-color: darken($bck, 20)


.bar
  min-height: 125px
  height: 100%
  width: auto
  display: flex
  flex-direction: row
  align-items: flex-start
  padding: 5px 20px 5px 20px
  &.is-hidden
    display: none

  .bar-button-space
    min-width: 50px
    min-height: 100px

  .bar-button
    position: relative
    height: 100%
    min-height: 100px
    min-width: 75px
    padding: 10px
    border-radius: 5px
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    margin-right: 15px
    text-align: center
    cursor: pointer
    transition: all 250ms ease-in-out
    &:hover
      background-color: darken($bck, 5)

    &.active
      background-color: darken($bck, 12)


    .ico
      display: flex
      justify-content: center
      align-items: center
      width: 40px
      height: 40px
      font-size:  20px
      background-color: $txt
      color: $darktxt
      border-radius: 4px

    .label
      display: block
      margin-top: 10px

#phA
  .ico
    background-color: red
    color: $txt
#phB
  .ico
    background-color: green
    color: $txt
#phC
  .ico
    background-color: blue
    color: $txt



// geometry drawing areas
.geometry
  position: relative
  display: block
  width: 100%
  height: calc( 100vh - 175px)
  overflow: scroll
  padding: 10px

#canvas-area
  display: block
  position: relative
  transform-origin: 0 0
  min-width: 100vw
  min-height: 100vh
  width: auto
  height: auto
  padding: 10px
  // position: absolute
  // display: block
  // left: 0
  // right: 0
  // bottom: 0
  // top: 0
  // width: auto
  // height: auto
  // overflow: scroll


canvas
  display: block
  position: relative
  transform-origin: 0 0
  margin: 0 auto














  //
